[profile.default]
src = "src"
out = "out"
libs = ["lib"]

[rpc_endpoints]
celo_sepolia = "https://forno.celo-sepolia.celo-testnet.org"

[etherscan]
celo_sepolia = { key = "${ETHERSCAN_API_KEY}", url = "https://celo-sepolia.blockscout.com/api" }
